name: Patch

on:
  workflow_dispatch:
    inputs:
      branchRef:
        description: 'Patch branch (format: release-vX.Y.Z)'
        required: true
        type: string

jobs:
  run-patch:
    uses: powsybl/github-ci/.github/workflows/patch-backend-lib-generic.yml@21c81b410ef7f587a758076583370cfd2c2f39a3
    with:
      githubappId: ${{ vars.GRIDSUITE_ACTIONS_APPID }}
      branchRef: ${{ github.event.inputs.branchRef }}
    secrets:
      VERSIONBUMP_GHAPP_PRIVATE_KEY: ${{ secrets.VERSIONBUMP_GHAPP_PRIVATE_KEY }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}