name: Release

on:
  workflow_dispatch:
    inputs:
      versionType:
        description: 'Version type increment (major | minor)'
        required: true
        type: choice
        options:
          - major
          - minor

jobs:
  run-release:
    uses: powsybl/github-ci/.github/workflows/release-backend-lib-generic.yml@21c81b410ef7f587a758076583370cfd2c2f39a3
    with:
      githubappId: ${{ vars.GRIDSUITE_ACTIONS_APPID }}
      versionType: ${{ github.event.inputs.versionType }}
    secrets:
      VERSIONBUMP_GHAPP_PRIVATE_KEY: ${{ secrets.VERSIONBUMP_GHAPP_PRIVATE_KEY }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}